@model IEnumerable<ShopTARge24.Models.Kindergartens.KindergartenIndexViewModel>

@{
	int Nr = 1;
}

<div>
	<a asp-action="create" asp-controller="Kindergartens" type="submit" class="btn btn-primary">Create</a>
</div>

<div class="h1">
	Kindergartens
</div>
<form method="post">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Nr</th>
				<th scope="col">GroupName</th>
				<th scope="col">ChildrenCount</th>
				<th scope="col">Kindergarten name</th>
				<th scope="col">Teacher name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var kindergarten in Model)
			{
				<tr>
					<td>@Nr</td>
					<td>@kindergarten.GroupName</td>
					<td>@kindergarten.ChildrenCount</td>
					<td>@kindergarten.KindergartenName</td>
					<td>@kindergarten.TeacherName</td>
					<td>
						<a asp-action="details" asp-controller="kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-outline-success">Details</a>
						<a asp-action="update" asp-controller="kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-outline-primary">Update</a>
						<a asp-action="delete" asp-controller="kindergartens" asp-route-id="@kindergarten.Id" class="btn btn-outline-danger">Delete</a>
					</td>
				</tr>

				Nr++;
			}
		</tbody>
	</table>
</form>