@model IEnumerable<ShopTARge24.Models.Kindergartens.KindergartenIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="create" asp-controller="Kindergartens" type="submit" class="btn btn-primary">Create</a>
</div>

<div class="h1">
    Kindergartens
</div>
<form method="get">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Group name</th>
                <th scope="col">Children count</th>
                <th scope="col">Kindergarten name</th>
                <th scope="col">Teacher name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kindergarten in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@kindergarten.GroupName</td>
                    <td>@kindergarten.ChildrenCount</td>
                    <td>@kindergarten.KindergartenName</td>
                    <td>@kindergarten.TeacherName</td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>